<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
       <title>Document</title>
</head>
<body style="background-color: rgb(41, 127, 130);">
    <header style="background-color: cadetblue; text-align: center; width: max-content; margin-left: 600px;border-radius: 40%; border-style: solid;">
              <h3 style=" margin: 10px;">
                    FORMULARIO DE DATOS DE USUARIOS
              </h3>
    </header> 
          
    <main style="background-color: darkcyan; text-align: justify; width: 30%; margin-left: 100px; border-radius: 20%; border-style: solid;">
      <form style="margin-left: 50px;" action="/add" method="POST"> 
        <h3 style="margin-bottom: 20px; background-color: rgb(25, 106, 106); width: max-content;">NAME</h3>
        <input type="text" name="name" placeholder="name">
        <br>
        <h3 style="margin-bottom: 20px;  background-color: rgb(25, 106, 106); width: max-content;">PHONE</h3>
        <input type="text" name="phone" placeholder="phone">
        <br>
        <h3 style="margin-bottom: 20px;  background-color: rgb(25, 106, 106); width: max-content;">EMAIL</h3>
        <input type="text" name="email" placeholder="email">
        <br>
        <button style="margin-top: 40px; margin-bottom: 20px; background-color: greenyellow;font-size: 20px;" type="submit"> GUARDAR </button>
    </form>
    </main>
</body>
</html>