<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="../static/styles.css">
       <title>Document</title>
</head>
<body>
    <header class="home-header">
              <h3 class="title">
                    FORMULARIO DE DATOS DE USUARIOS
              </h3>

                <form action="/" method="POST"> 
                <input type="text" name="search" placeholder="search">
                    
                <button type="submit">SEARCH</button>
              </form> 

              <form class="form-return" action="/">   
                <button class="button-return" type="submit">HOME</button>
              </form> 

              {% with messages= get_flashed_messages() %}
              {% if messages %}
                {% for mess in messages%}
                 <h5 class="message-alert">{{mess}}</h5>
                 {% endfor %}
              {% endif %}
              {% endwith %}
    </header> 
          
    <main class="home-main"> 
      <form class="form-add" action="/add" method="POST"> 
        <h3 class="title-add">NAME</h3>
        <input type="text" name="name" placeholder="name">
        <br>
        <h3 class="title-add">PHONE</h3>
        <input type="text" name="phone" placeholder="phone">
        <br>
        <h3 class="title-add">EMAIL</h3>
        <input type="text" name="email" placeholder="email">
        <br>
        <button class="button-add"> SAVE </button>
     </form> 
          <table class="table-get">
        
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">PHONE</th>
                <th class="email-get">EMAIL</th>
              </tr> 
            </thead>
            <tbody> 
              {% for cont in contacts %}
              <tr>
                <td class="dates-get">{{cont.0}}</td>
                <td class="dates-get--left50px">{{cont.1}}</td>
                <td class="dates-get--left70px">{{cont.2}}</td>
                <td class="dates-get--left50px">{{cont.3}}</td>
              </tr> 
              {% endfor %}
            </tbody>  
          </table>  
    </main>
</body>
</html>